body {
  background: #1a1e23;
  margin: 0;
}

/*$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

.bubbles {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(183, 94%, 76%, 0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(6s, 12s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}*/
.calculator
{
    box-shadow:0 15px 35px rgba(0 ,0, 0, 0.5);
    border:1px solid rgba(255,255,255,0.07);
    backdrop-filter: blur(10px);
    width:20%;
    margin:auto;
    height:70%;
    padding:10px;
    position:relative;
    top:200px;
    border-radius:15px;
    text-align:center;
    padding-bottom:30px;
    padding-left:40px;
}
button
{
    background-color:mediumslateblue;
    color:white;
    font-size:18px;
    border-radius:10px;
    width:50px;
    border:none;
    padding:10px;
    margin:5px; 
    justify-content: center;
}
#zero
{
    width:120px;
}
#cross, #divide, #minus, #add
{
    background-color:yellow;
}
input
{
    width:250px;
    height:50px;
    border:none;
    margin-top:20px;
    margin-left:-40px;
    border-radius:50px;
    font-size:20px;
    text-align:right;
    padding-right:20px;
    background-color:black;
    color:white;
    font-weight:bold;
}
input[type=number]
{
    -webkit-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus
{
    outline:none;
    cursor:none;
    caret-color: transparent;
}