<<<<<<< HEAD
ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li
{
    float:right;
    color:black;
    background-color:green;
    border:2px solid white;
    border-radius:50px;
    margin-bottom:10px;
}
li a
{
    display:block;
    color:white;
    padding:16px;
    text-decoration:none;
}
.content
{
   background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
}


=======
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;     
    overflow:hidden;
}
li
{
    float:right;
    border-radius:50px;
   
}
li a
{
    display:block;
    color:white;
    padding:16px;
    margin:5px;
    background-color:rgb(156, 21, 1);
    text-decoration:none;
    border-radius:50px;
}
.content
{
    background-image:url("car.jpg");
    background-position:center;
    background-size:cover;
    width:100%;
    height:400px;
    margin-top:10px;
}
>>>>>>> origin/main
