*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: white;
    overflow: hidden;
}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 600px;
    box-shadow: 0 30px 50px white;
    background-color: white;
}
.container .slide .item
{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 200px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    display: inline-block;
    transition: 0.5s;
    background-position: 50% 50%;
    background-size: cover;
}
.container .slide .item:nth-child(1)
{
    left: 50%
}
.container .slide .item:nth-child(2)
{
    left: calc(50% + 220px)
}
.container .slide .item:nth-child(3)
{
    left: calc(50% + 440px)
}
.container .slide .item:nth-child(4)
{
    left: calc(50% + 660px)
}
.container .slide .item:nth-child(5)
{
    left: calc(50% + 880px)  
}
.container .slide .item:nth-child(n+6)
{
    left: calc(50% + 1000px);
    opacity: 0;
}
.item .content 
{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: white;
    transform: translate(0, -50%);
}
.slide .item .content
{
   visibility: visible;
    overflow: hidden;
}
.item button
{
    bottom: 26%;
    position: absolute;
    left: 100px;
    padding: 10px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.content .name
{
    font-size: 40px;
    font-weight: 60px;
    text-transform: uppercase;
    animation: scroll 1s ease-in-out forward;
}
.content .about
{
    margin-top: 10px;
    margin-bottom: 20px;
    animation: scroll 1s ease-in-out forward;
    animation-delay: 0.2s;
}
.content button
{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    animation: scroll 1s ease-in-out forward;
}
.nav
{
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
}
.nav button
{
    color: white;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    background-color: black;
    width: 40px;
    height: 40px;
    font-weight: bold;
}
@keyframes scroll 
{
    from
    {
        opacity: 0;
        filter: blur(330px);
        transform: translate(0,100px);  
    }
    to
    {
        opacity: 1;
        filter: blur(0);
        transform: translate(0);
    }
}