body
{
    padding: 0;
    margin: 0;
    background-color: transparent;
}
p
{
    font-family: lemon;
}
h1
{
    font-family: kenia;
}
.slide-card 
{
    width: 180px;
    height: 280px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 60px 50px rgba(0,0,0,0.7);
}


.slide-card:nth-child(1),
.slide-card:nth-child(2) 
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    border-radius: 0;
}


.slide-card:nth-child(3) 
{ 
    left: 60%; 
}
.slide-card:nth-child(4) 

{ 
    
    left: calc(60% + 200px); 

}
.slide-card:nth-child(5) 
{ 
    left: calc(60% + 400px); 
}
.slide-card:nth-child(n+6) 
{ 
    left: calc(60% + 600px); opacity: 0; 
}

/* Content visibility logic */
.details 
{
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    color: white;
    max-width: 400px;
    display: none; 
}


.slide-card:nth-child(2) .details 
{
    display: block;
}

.title 
{
    font-size: 5rem;
    animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn 
{
    from 
    { 
        opacity: 0; transform: translateY(30px); filter: blur(10px); 
    }
    to 
    { 
        opacity: 1; transform: translateY(0); filter: blur(0); 
    }
}

.controls 
{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.controls button
{
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.more-btn
{
    height: 40px;
    width: 120px;
    font-size: 16px;
    background-color: black;
    color:white;
    border: solid ;
    border-radius: 5px;
    border-width: 0px;
    margin-top: 40px;
}
.more-btn:hover
{
    background-color: white;
    color: orangered;
}
.controls button:active
{
    background-color: grey;
    opacity: 0.5;
}