ul
{
	
	list-style-type:none;
	margin:0;
	padding:0;
	
	color:#0083D4;

	float:right;
	overflow:hidden;
}
li a:hover
{
	background-color:cyan;
	border-radius:10px;
	color:#6201FF;	
}
li a
{
	display:block;
	color: #0083D4;
	text-align:center;
	text-decoration:none;
	background-color: white;
	padding:16px;
}
li 
{
	float:left;
}
.front
{
	background-color:transparent;
	margin-left:67%;
	width:500px;
	height:700px;
	border-color:black;
	border-style:solid;
	border-width:5px;
	padding-top:70px;
	position:fixed;
	z-index:-1;
	padding-left:150px;
	
}
.intro
{
	background-color:yellow;
	border-radius:50%;
	padding:40px;
	padding-top:70px;
	width:190px;
	height:140px;
	margin-left:1323px;
	text-align:top;
	font-size:97px;
	position:fixed;
	overflow:visible;
}
.design
{
	background-color:#8CF002;
	border-radius:50%;
	padding:40px;
	margin-top:603px;;
	width:190px;
	height:174px;
	margin-left:1874px;
	text-align:top;
	font-size:97px;
	position:fixed;
	overflow:visible;
}
p
{
	font-size:150%;
	color:blueviolet;
	font-family:roboto slab;
	padding-top:11px;
	position:relative;
	z-index:3;
}
.skills
{
	display:contents;
	margin:auto;
	float:left;
	width:1114px;
	height:509px;
}
.circle1
{
	width:160px;
	height:160px;
	/*background-color:yellow;*/
	position:relative;
	float:left;
	margin-top:3%;
	margin-left:30%;
	display:block;
	text-align:center;
}
.circle2
{
	width:160px;
	height:160px;
	/*background-color:yellow;*/
	position:relative;
	float:left;
	margin-top:-185%;
	margin-left:-219%;
	display:block;
	text-align:center;
}
.circle3
{
	width:160px;
	height:160px;
	/*background-color:yellow;*/
	position:relative;
	float:left;
	margin-top:30%;
	margin-left:0%;
	display:block;
	text-align:center;
}
.circle4
{
	width:160px;
	height:160px;
	/*background-color:yellow;*/
	position:relative;
	float:left;
	margin-top:-185%;
	margin-left:218%;
	display:block;
	text-align:center;
}
.circle5
{
	width:160px;
	height:160px;
	/*background-color:yellow;*/
	position:relative;
	float:left;
	margin-top:-399%;
	margin-left:189%;
	display:block;
	text-align:center;
}
.circle6
{
	width:160px;
	height:160px;
	/*background-color:yellow;*/
	position:relative;
	float:left;
	margin-top:53%;
	margin-left:1%;
	display:block;
	text-align:center;
}
.outter
{
	height:144px;
	width:144px;
	border-radius:50%;
	padding-left:24px;
	padding-top:24px;
	
	/*box-shadow:6px 6px 10px -1px black,
				-6px -6px 10px -1px white;*/	
}
.inner
{
	height:120px;
	width:120px;
	border:1px;
	border-radius:50%;
	display:flex;
	align-item:center;
	justify-content:center;
	margin-left:8%;
	margin-top:11%;
	box-shadow:inset 4px 4px 6px -1px black,
				inset -4px -4px 6px -1px white,
				-0.5px 0.5px 0px white,
				0px 12px 10px -10px white;
	
	
}
#number
{
	font-weight:600px;
	color:red;
	margin-top: 50px;
}
circle
{
	fill:none;
	stroke:url(#GradientColor);
	stroke-width:20px;
	stroke-dashoffset:0;
	animation:anim 2s linear forwards;
}
svg
{
	position:absolute;
	top:21px;
	left:16px;
}
@keyframes anim
{
	100%
	{
		stroke-dashoffset:150;
	}
}


	