body
{
	background-color:black;
	
}
h1
{
	text-decoration:bold;
	font-size:436%;
	color:black;
	text-align:left;
	
}
.home
{
	width:100%;
	height:30%;
	background-color:orange;
	float:right;
	padding:23px;
	font-family:Kaushan Script;
	
}
.home> #tag
{
	font-family:Kaushan Script;
	float: right;
  padding-right: 34%;
  font-size: xx-large;
}
.home button
{
	background-color:transparent;
	border-width:1px;
	border-color:black;
	color:black;
	padding:15px;
	
}
	
#write >.write1
{
	font-size:148%;
	color:black;
	float:right;
	margin-top:-29%;
	padding-right:14%;
}
#write
{
	
	text-align:left;
	padding-left:0%;
}
.summary
{
	color:white;
	font-size:51px;
	text-decoration:bold;
	width:613px;
	margin-top:50px;
	margin-left:170px;
	background-color:transparent;
}
.story
{
	color:white;
	text-align:justify;
	font-size:19px;
	width:900px;
	margin-top:-328px;
	margin-right:170px;
	background-color:transparent;
	float:right;
	display:inline-block;
}
.security
{
	width:80%;
	background-color:#f9d6a1;
	padding-left:20%;
	padding-top:40px;
	padding-bottom:70px;
	
}
.security button
{
	margin-left:0%;
}
li
{
	list-style-type:square;
	color:black;
}
button
{
	background-color:transparent;
	border-width:1px;
	border-color:orange;
	color:orange;
	padding:15px;
	font-size:18px;
	margin-left:62%;
}
.security img
{
	padding-left:770px;
	margin-top:-203px;
	
}
.review
{
	width:97%;
	background-color:orange;
	padding-left:3%;
	padding-top:40px;
	padding-bottom:70px;
	text-align:center;
}
input
{
  margin-left: 729px;
  width: 27%;
  padding: 15px;
  border-radius: 0px;
  border-color: white;
  padding-top: 18px;
}
material-symbols-outlined
{
	font-size:18px;
}