/*.mask
{
	-webkit-mask-image: url(wave.png);
	mask-image: url(wave.png);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}*/

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
section
{
	position:fixed;
	width:100%;
	min-height:100%;
	background:url("gate.jpg");
	background-size:cover;
}
section::before
{
	content:'';
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url("wave.jpg");
	background-position:inherit;
	background-size:100%;	
	mix-blend-mode: screen;
}