BODY
{
	BACKGROUND-COLOR:#F4E6FB;
}
div
{
	BACKGROUND-COLOR: YELLOW;
}
ul
{
	LIST-STYLE-TYPE:NONE;
	MARGIN:0;
	PADDING:0;
	OVERFLOW:HIDDEN;
	BACKGROUND-COLOR:#333333;
}
LI
{
	FLOAT:LEFT;
}
LI A
{
	DISPLAY:BLOCK;
	COLOR:WHITE;
	TEXT-ALIGN:CENTER;
	PADDING:16PX;
	TEXT DECORATION:NONE;
	BACKGROUND-COLOR:#111111;
}
LI A: HOVER
{
		background-color:#F2BC57;
	color: red;
	border-radius:10px;
}
P
{
	COLOR: NAVY;
}
#LONDON
{
	BACKGROUND-COLOR:#F20505;
	HEIGHT:300PX;
	MARGIN:AUTO;
	PADDING:10PX;
	TEXT-ALIGNMENT:CENTER;
}
H1
{
	COLOR:#5ADFFA;
}
#CHINA
{
	BACKGROUND-COLOR:PINK;
	HEIGHT:300PX;
	MARGIN:AUTO;
	PADDING:10PX;
	TEXT-ALIGNMENT:CENTER;
}
#AUSTRALIA
{
	BACKGROUND-COLOR:YELLOW;
	/*HEIGHT:300PX;
	MARGIN:AUTO;*/
	PADDING:10PX;
	TEXT-ALIGNMENT:CENTER;
}
DIV.COUNTRY
{
	WIDTH:100%;
	OVERFLOW:AUTO;
}
DIV.COUNTRY div
{
	WIDTH: 30%;
	FLOAT:LEFT;
}
	