BODY
{
BACKGROUND-COLOR:#fcf0e6;
}
LI
{
    TEXT-ALIGN:LEFT;
    FONT-FAMILY:BIRTHSTONE;
    LIST-STYLE-TYPE:SQUARE;
}
P
{
TEXT-ALIGN:CENTER;
FONT-SIZE:80PX;
}
IMG
{
HEIGHT:500PX;
WIDTH:100%;
BORDER-RADIUS:10%;
position:relative;

}
.IMAGE
{
MARGIN:20PX;
WIDTH:470PX;
FLOAT:RIGHT;
FONT-FAMILY:BIRTHSTONE;
BOX-SHADOW:15PX 16PX 10PX #D48A00;
BORDER-RADIUS:50%;
}
#JANUARY 
{
BACKGROUND-COLOR:#80DDF2;
HEIGHT:400PX;
WIDTH:500PX;
FLOAT:LEFT;
MARGIN:20PX;
BOX-SHADOW:10PX 8PX 20PX #002554;
BORDER-RADIUS:10%;
}
#FEBRUARY
{
BACKGROUND-COLOR:#F294D9;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #F0076F;
BORDER-RADIUS:10%;
}
#MARCH
{
BACKGROUND-COLOR:#2BFE47;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #024959;
BORDER-RADIUS:10%;
}
#APRIL
{
BACKGROUND-COLOR:#F2B705;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #BF6B04;
BORDER-RADIUS:10%;
}
#MAY
{
BACKGROUND-COLOR:#FF8519;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #402313;
BORDER-RADIUS:10%;
}
#JUNE
{
BACKGROUND-COLOR:#E479F2;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #580259;
BORDER-RADIUS:10%;
}
#JULY 
{
BACKGROUND-COLOR: #7946EB ;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;

FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #3C109E;
BORDER-RADIUS:10%;
}
#AUGUST
{
BACKGROUND-COLOR:#96D977;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #314026;
BORDER-RADIUS:10%;
}
#SEPTEMBER
{
BACKGROUND-COLOR:#D93644;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #A60303;
BORDER-RADIUS:10%;
}
#OCTOBER
{
BACKGROUND-COLOR:#F0C501;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #D49217;
BORDER-RADIUS:10%;
}
#NOVEMBER
{
BACKGROUND-COLOR:#A6A6A6;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #595959;
BORDER-RADIUS:10%;
}
#DECEMBER
{
BACKGROUND-COLOR:#0F3BBF;
HEIGHT:400PX;
WIDTH:500PX;
MARGIN:20PX;
FLOAT:LEFT;
BOX-SHADOW:10PX 8PX 20PX #20007A;
BORDER-RADIUS:10%;
}
TD
{
BORDER:NONE;
PADDING:16PX;
BORDER-RADIUS:50%;
BACKGROUND-COLOR:NONE;
TEXT-ALIGN:CENTER;
COLOR:NONE;
FONT-SIZE:16PX;
}
.HOVER_TEXT .TOOLTIP
{
VISIBILITY:HIDDEN;
WIDTH:120PX;
BACKGROUND-COLOR:#000042;
COLOR:#09CDF7;
TEXT-ALIGN:CENTER;
BORDER-RADIUS:10PX;
PADDING:5PX 10;
POSITION:ABSOLUTE;
Z-INDEX:1;
TOP:125%;
LEFT:50%;
MARGIN-LEFT:-60PX;
OPACITY:0;
TRANSITION:OPACITY 0.3S;

}
.HOVER_TEXT:HOVER .TOOLTIP
{
VISIBILITY:VISIBLE;
FONT-FAMILY:BIRTHSTONE;
OPACITY:1;
}
.HOVER_TEXT .TOOLTIP::AFTER
{
CONTENT:" ";
POSITION:ABSOLUTE;
BOTTOM:100%;
LEFT:50%;
MARGIN-LEFT:-16PX;
BORDER-WIDTH:8PX;
BORDER-STYLE:SOLID;
BORDER-COLOR: TRANSPARENT TRANSPARENT #000042 ;
BORDER-RADIUS:50% 50% 0 0;

}
.HOVER_TEXT
{
POSITION:RELATIVE;
DISPLAY:INLINE-BLOCK;
BORDER-BOTTOM:1PX;
BACKGROUND-COLOR:TRANSPARENT;
}
DIV:HOVER
{
	transform:scale(1.05);
}
#JANUARY ,#FEBRUARY, #MARCH ,#APRIL, #MAY ,#JUNE, #JULY ,#AUGUST ,#SEPTEMBER, #OCTOBER, #NOVEMBER ,#DECEMBER
{
	TRANSITION:2S;
}