BODY
{
	BACKGROUND-COLOR:#290E0E;
}
UL
{
	LIST-STYLE-TYPE: NONE;
	PADDING: 0;
	MARGIN: 0;
	OVERFLOW:HIDDEN;
	BACKGROUND-COLOR: #290e0e;
	HEIGHT:80PX;
	FLOAT:right;
}
LI
{
	FLOAT:right;
}
LI A
{
	PADDING: 17PX;
	MARGIN: 10PX;
	DISPLAY:BLOCK;
	TEXT-DECORATION:NONE;
	COLOR:WHITE;
}
LI a:hover
{
	
	BACKGROUND-COLOR: #F2BC57;
	COLOR: red;
}

.HEADER-TEXT
{
	MARGIN:AUTO;
	HEIGHT:10PX;
	WIDTH:81%;
	PADDING:200PX;
	
	DISPLAY:GRID;
	OVERFLOW:HIDDEN;
}
.HEADER-TEXT P

{
	POSITION: RELATIVE;
	COLOR: WHITE;
	FONT-SIZE: 900%;
	MARGIN-LEFT: 35%;
	MARGIN-TOP: 0;
}
IMG
{
	BACKGROUND-REPEAT:REPEAT;
	BACKGROUND-ATTACHMENT:FIXED;
	BACKGROUND-POSITION:RIGHT TOP;
}
#WELCOME
{
	COLOR:#BD731E;
	TEXT-ALIGN: CENTER;
	FONT-SIZE:30PX;
	FONT-FAMILY:PERMANENT MARKER;
	HEIGHT:290PX;
	PADDING:10PX;
	BACKGROUND-COLOR:#290E0E;
	DISPLAY: GRID;
	FLOAT:RIGHT;
}
#PARENT
{
	DISPLAY:FLEX;
	WIDTH:100%;
	HEIGHT:30%;
	PADDING-LEFT:80PX;
}
#PARENT>.P
{
	WIDTH:30%;
	HEIGHT:100%;
	MARGIN-LEFT:5PX;
}
.P>IMG
{
	HEIGHT:100%;
	WIDTH:100%;
}
@media screen and (max-width: 1442px)
{
	#PARENT
	{
		MARGIN-TOP:524PX;
	}
	.HEADER-TEXT>P
	{
		MARGIN-LEFT:6%;
	}
}