.front
{
	background-color:transparent;
	margin-left:auto;
	width:500px;
	height:724px;
	border-color:black;
	border-style:solid;
	border-width:5px;
	padding-top:70px;
	position:relative;
	z-index:1;
	padding-left:150px;
	
}
.intro
{
	background-color:yellow;
	border-radius:20px;
	padding:40px;
	padding-top:70px;
	color:blueviolet;
	font-family:roboto slab;
	width:200px;
	height:140px;
	margin-left:1385px;
	padding-left:4px;
	text-align:top;
	font-size:97px;
	position:absolute;
	overflow:visible;
	z-index:-2;
	
}
ul
{
	
	list-style-type:none;
	margin:0;
	padding:0;
	
	color:#0083D4;

	float:right;
	overflow:hidden;
}
li a:hover
{
	background-color:cyan;
	border-radius:10px;
	color:#6201FF;	
}
li a
{
	display:block;
	color: #0083D4;
	text-align:center;
	text-decoration:none;
	background-color: white;
	padding:16px;
}
li 
{
	float:left;
}
.design
{
	background-color:#8CF002;
	border-radius:20px;
	padding:40px;
	margin-top:-219px;;
	width:190px;
	height:140px;
	margin-left:1882px;
	text-align:top;
	font-size:97px;
	position:absolute;
	overflow:visible;
}
.pictures
{
	width:1000px;
	float:left;
	display:block;
	margin-left:5%;
	padding-left:32px;
	padding-right:-7px;
	padding-top:7px;
	border-width:5px;
	border-color:black;
	border-style:solid;
}