body
{
	background-color:black;
}
ul
{
	LIST-STYLE-TYPE:NONE;
	MARGIN-RIGHT:40%;
	PADDING:0;
	OVERFLOW:HIDDEN;
	BACKGROUND-COLOR:black;
	FLOAT:RIGHT;
}
LI
{
	FLOAT:LEFT;
	
}
LI A
{
	DISPLAY:BLOCK;
	COLOR:yellow;
	TEXT-ALIGN:CENTER;
	PADDING-left:54PX;
	font-family:lemon;
	PADDING-right:54PX;
	TEXT-DECORATION:NONE;
	BACKGROUND-COLOR:black;
}
button
{
	padding: 8px;
	border-radius: 10px;
	border-color:trnasparent;
	border-width: 0;
	BACKGROUND-COLOR:black;
}
LI A, .nav:HOVER
{
	background-color:black;
	color:yellow;
	border-color:yellow;
	border-radius:40px;
	border-width: 3px;
}
h1
{
	color:#ffdf00;
	padding-left:20px;
	font-family:kaushan script;
}
a
{
	text-decoration:none;
	color:black;
}
.blog
{
	display:flex;
	flex-wrap:wrap;
	height:50%;
	width:100%;
	background-color:black;
	padding-left:10%;                       /*5px@media*/
}
.child,.skills
{
	height: 60%;                               /*40%@media*/
	width: 11%;
	background-color: #ffdf00;
	margin-left: 70px;
	color: black;
	border-radius:10px;
	margin-top: 100px;
	transition:2s;
}
.skills
{
	text-align:center;
	font-size:30px;
	padding-top:2%;
	font-family:delius;
}
img
{
	border-radius:10px;
}
.hover_div .TOOLTIP
{
VISIBILITY:HIDDEN;
WIDTH:120PX;
BACKGROUND-COLOR:yellow;
COLOR:red;
TEXT-ALIGN:CENTER;
BORDER-RADIUS:10PX;
PADDING:5PX 10;
POSITION:ABSOLUTE;
Z-INDEX:1;
TOP:38%;
LEFT:50%;
MARGIN-LEFT:-60PX;
OPACITY:0;
TRANSITION:OPACITY 0.3S;

}
.hover_div:HOVER .TOOLTIP
{
VISIBILITY:VISIBLE;
FONT-FAMILY:BIRTHSTONE;
OPACITY:1;

}
.hover_div .TOOLTIP::AFTER
{
CONTENT:" ";
POSITION:ABSOLUTE;
BOTTOM:100%;
LEFT:50%;
MARGIN-LEFT:-16PX;
BORDER-WIDTH:8PX;
BORDER-STYLE:SOLID;
BORDER-COLOR: TRANSPARENT TRANSPARENT #000042 ;
BORDER-RADIUS:50% 50% 0 0;

}
.hover_div
{
POSITION:RELATIVE;
DISPLAY:INLINE-BLOCK;
BORDER-BOTTOM:1PX;
BACKGROUND-COLOR:TRANSPARENT;
}
.child:HOVER
{
	opacity:0.6;
	transform:scale(1.05);
}
.skills:HOVER
{
	opacity:0.6;
	transform:scale(1.05);
}